* {
  margin: 0;
  padding: 0;
  font-family: "League Spartan", sans-serif;
  font-weight: 700;
}

main {
  max-width: 600px;
  width: 100%;
  margin: 16px auto;
  display: block;
  justify-content: center;
}

.theme{
  display: flex;
  justify-content: right;
  transform: translateY(-16px);
}

h1{
  font-size: 40px;
  padding-top: 16px;
}
p{
  font-size: 16px;
  letter-spacing: 2px;
}
label{
  font-size: 16px;
  letter-spacing: 24px;
  float: right;
  transform: translate(15px, 20px);
}
.display{
  max-width: 600px;
  width: 100%;
  height: 120px;
  border: none;
  border-radius: 14px;
  font-size: 40px;
  text-align: right;
  margin-bottom: 24px;
  padding-right: 16px;
}

.calculator {
  display: grid;
  justify-content: center;
  text-align: center;
  grid-template-columns: 120px 120px 120px 120px;
  gap: 16px;
  padding: 32px 32px;
  border-radius: 14px;
  width: 550px;
}

button{
  border: none;
  border-radius: 8px;
  height: 75px;
  text-align: center;
  justify-content: center;
  font-size: 32px;
  cursor: pointer;
}

.delete{
  font-size: 24px;
}
.reset{
  font-size: 24px;
  grid-column-start: 1;
  grid-column-end: 3;
}
.sum{
  grid-column-start: 3;
  grid-column-end: 5;
}
.toggle{
  border-radius: 32px;
  transform: translate(-1px);
  margin-left: 16px;
  width: 95px;
  height: 32px;
}
input[type="checkbox"]:before{
  content: "";
  width: 48px;
  height: 48px;
  border-radius: 50%;
}

.toggle{
  display: flex;
}
.toggle1{
  cursor: pointer;
  background-color: hsl(6, 63%, 50%);
  width: 24px;
  height: 24px;
  border-radius: 50%;
  margin: 4px 0 0 6px;
}
.toggle2 {
  cursor: pointer;
  background-color: hsl(223, 31%, 20%);
  width: 24px;
  height: 24px;
  border-radius: 50%;
  margin: 4px 0 0 6px;
}
.toggle3 {
  cursor: pointer;
  background-color: hsl(223, 31%, 20%);
  width: 24px;
  height: 24px;
  border-radius: 50%;
  margin: 4px 0 0 6px;
}
.theme1 {
  background-color: hsl(222, 26%, 31%);
}
.theme1 .background {
  background-color: hsl(222, 26%, 31%);
}
.theme1 h1 {
  color: white;
}
.theme1 p {
  color: white;
}
.theme1 label {
  color: white;
}
.theme1 .display {
  color: white;
  background-color: hsl(224, 36%, 15%);
}
.theme1 .calculator {
  background-color: hsl(223, 31%, 20%);
}
.theme1 button {
  background-color: hsl(30, 25%, 89%);
  box-shadow: 0 5px 0 hsl(28, 16%, 65%);
}
.theme1 .delete {
  color: white;
  background-color: hsl(222, 26%, 31%);
  box-shadow: 0 5px 0 hsl(224, 28%, 35%);
}
.theme1 .reset {
  color: white;
  background-color: hsl(222, 26%, 31%);
  box-shadow: 0 5px 0 hsl(224, 28%, 35%);
}
.theme1 .sum {
  color: white;
  background-color: hsl(6, 63%, 50%);
  box-shadow: 0 5px 0 hsl(6, 70%, 34%);
}
.theme1 button:active {
  background-color: white;
}
.theme1 .delete:active {
  background-color: hsl(226, 26%, 63%);
}
.theme1 .reset:active {
  background-color: hsl(226, 26%, 63%);
}
.theme1 .sum:active {
  background-color: hsl(6, 70%, 58%);
}
.theme1 .toggle {
  background-color: hsl(223, 31%, 20%);
}
.theme1 .number {
  color: hsl(223, 31%, 20%);
}
.theme1 .operation {
  color: hsl(223, 31%, 20%);
}





.theme2 {
  background-color: hsl(0, 0%, 90%);
}
.theme2 .bg {
  background-color: hsl(0, 0%, 90%);
}
.theme2 h1 {
  color: hsl(60, 10%, 19%);
}
.theme2 p {
  color: hsl(60, 10%, 19%);
}
.theme2 label {
  color: hsl(60, 10%, 19%);
}
.theme2 .display {
  color: hsl(60, 10%, 19%);
  background-color: hsl(0, 0%, 96%);
}
.theme2 .calculator {
  background-color: hsl(0, 5%, 81%);
}
.theme2 button {
  background-color: hsl(45, 7%, 89%);
  box-shadow: 0 5px 0 hsl(35, 11%, 61%);
}
.theme2 .delete {
  color: white;
  background-color: hsl(185, 42%, 37%);
  box-shadow: 0 5px 0 hsl(185, 58%, 25%);
}
.theme2 .reset {
  color: white;
  background-color: hsl(185, 42%, 37%);
  box-shadow: 0 5px 0 hsl(185, 58%, 25%);
}
.theme2 .sum {
  color: white;
  background-color: hsl(25, 98%, 40%);
  box-shadow: 0 5px 0 hsl(25, 99%, 27%);
}
.theme2 button:active {
  background-color: hsl(48, 17%, 94%);
}
.theme2 .delete:active {
  background-color: hsl(185, 36%, 45%);
}
.theme2 .reset:active {
  background-color: hsl(185, 36%, 45%);
}
.theme2 .sum:active {
  background-color: hsl(25, 84%, 47%);
}
.theme2 .toggle {
  background-color: hsl(0, 5%, 81%);
}
.theme2 .number{
  color: hsl(60, 10%, 19%);
}
.theme2 .operation {
  color: hsl(60, 10%, 19%);
}




.theme3 {
  background-color: hsl(268, 75%, 9%);
}
.theme3 .bg {
  background-color: hsl(268, 75%, 9%);
}
.theme3 h1 {
  color: hsl(52, 100%, 62%);
}
.theme3 p {
  color: hsl(52, 100%, 62%);
}
.theme3 label {
  color: hsl(52, 100%, 62%);
}
.theme3 .display {
  color: hsl(52, 100%, 62%);
  background-color: hsl(268, 71%, 12%);
}
.theme3 .calculator {
  background-color: hsl(268, 71%, 12%);
}
.theme3 button {
  background-color: hsl(268, 47%, 21%);
  box-shadow: 0 5px 0 hsl(290, 70%, 36%);
}
.theme3 .delete {
  color: white;
  background-color: hsl(281, 89%, 26%);
  box-shadow: 0 5px 0 hsl(285, 91%, 52%);
}
.theme3 .reset {
  color: white;
  background-color: hsl(281, 89%, 26%);
  box-shadow: 0 5px 0 hsl(285, 91%, 52%);
}
.theme3 .sum {
  color: hsl(198, 20%, 13%);
  background-color: hsl(176, 100%, 44%);
  box-shadow: 0 5px 0 hsl(177, 92%, 70%);
}
.theme3 button:active {
  background-color: hsl(268, 44%, 28%);
}
.theme3 .delete:active {
  background-color: hsl(281, 86%, 29%);
}
.theme3 .reset:active {
  background-color: hsl(281, 86%, 29%);
}
.theme3 .sum:active {
  background-color: hsl(176, 80%, 60%);
}
.theme3 .toggle {
  background-color: hsl(268, 71%, 12%);
}
.theme3 .number {
  color: hsl(52, 100%, 62%);
}
.theme3 .operation {
  color: hsl(52, 100%, 62%);
}

@media (max-width: 645px) {
  
  .calculator {
    margin: 0 auto;
    display: grid;
    justify-content: center;
    text-align: center;
    grid-template-columns: 70px 70px 70px 70px;
    gap: 16px;
    padding: 32px 32px;
    border-radius: 14px;
    max-width: 325px;
    width: 100%;
  } 
  .display {
    max-width: 375px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-bottom: 24px;
  }
  .h1 {
    width: 159px;
  }
  .container1{
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    max-width: 375px;
    width: 100%;
  }
}